projects-new/p08/stepfunctions/etl_workflow.asl.json
{
  "Comment": "P08 ETL Workflow with validation, transformation, and output",
  "StartAt": "ValidateData",
  "States": {
    "ValidateData": {
      "Type": "Task",
      "Resource": "${ValidateFunctionArn}",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleValidationFailure"
        }
      ],
      "Next": "TransformData"
    },
    "TransformData": {
      "Type": "Task",
      "Resource": "${TransformFunctionArn}",
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": ["States.Timeout", "Lambda.ServiceException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleTransformFailure"
        }
      ],
      "Next": "OutputData"
    },
    "OutputData": {
      "Type": "Task",
      "Resource": "${OutputFunctionArn}",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleOutputFailure"
        }
      ],
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "HandleValidationFailure": {
      "Type": "Pass",
      "Result": {
        "status": "FAILED",
        "stage": "VALIDATION"
      },
      "ResultPath": "$.failure_info",
      "Next": "NotifyFailure"
    },
    "HandleTransformFailure": {
      "Type": "Pass",
      "Result": {
        "status": "FAILED",
        "stage": "TRANSFORM"
      },
      "ResultPath": "$.failure_info",
      "Next": "NotifyFailure"
    },
    "HandleOutputFailure": {
      "Type": "Pass",
      "Result": {
        "status": "FAILED",
        "stage": "OUTPUT"
      },
      "ResultPath": "$.failure_info",
      "Next": "NotifyFailure"
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${SNSTopicArn}",
        "Subject": "ETL Workflow Failed",
        "Message.$": "States.Format('Execution {} failed at stage {}. Error: {}', $.execution_id, $.failure_info.stage, $.error.Cause)"
      },
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail",
      "Cause": "ETL workflow failed",
      "Error": "WorkflowExecutionFailed"
    }
  }
}
